<nav class="bottom-nav-shell" aria-label="Main navigation">
  <button type="button" (click)="navigation.goHome()" class="bottom-nav-item" [class.bottom-nav-item--active]="navigation.activeScreen() === 'home'">
    <span class="bottom-nav-icon-frame">
      <img src="assets/icons/blackstarpng.png" alt="" class="bottom-nav-logo"/>
    </span>
    <span>Home</span>
  </button>
  <button type="button" (click)="navigation.goSearch()" class="bottom-nav-item" [class.bottom-nav-item--active]="navigation.activeScreen() === 'search'">
    <img src="assets/icons/search.svg" alt="" class="bottom-nav-icon" [class.icon-active]="navigation.activeScreen() === 'search'" [class.icon-soft]="navigation.activeScreen() !== 'search'"/>
    <span>Search</span>
  </button>
  <button type="button" (click)="navigation.goLibrary()" class="bottom-nav-item" [class.bottom-nav-item--active]="navigation.activeScreen() === 'library'">
    <img src="assets/icons/library.svg" alt="" class="bottom-nav-icon" [class.icon-active]="navigation.activeScreen() === 'library'" [class.icon-soft]="navigation.activeScreen() !== 'library'"/>
    <span>Library</span>
  </button>
  <button type="button" (click)="navigation.goProfile()" class="bottom-nav-item" [class.bottom-nav-item--active]="navigation.activeScreen() === 'profile'">
    <img src="assets/icons/icon-profile.svg" alt="" class="bottom-nav-icon" [class.icon-active]="navigation.activeScreen() === 'profile'" [class.icon-soft]="navigation.activeScreen() !== 'profile'"/>
    <span>Profile</span>
  </button>
</nav>
